.pane svg.data .AL { stroke: #c0f0c0; }
.pane svg.data .AK { stroke: #c0f0c0; }
.pane svg.data .AZ { stroke: #c0f0c0; }
.pane svg.data .AR { stroke: #c0f0c0; }
.pane svg.data .CA { stroke: #f04040; }
.pane svg.data .CO { stroke: #c0f0c0; }
.pane svg.data .CT { stroke: #c0f0c0; }
.pane svg.data .DE { stroke: #c0f0c0; }
.pane svg.data .DC { stroke: #c0f0c0; }
.pane svg.data .FL { stroke: #c0f0c0; }
.pane svg.data .GA { stroke: #c0f0c0; }
.pane svg.data .HI { stroke: #c0f0c0; }
.pane svg.data .ID { stroke: #c0f0c0; }
.pane svg.data .IL { stroke: #c0f0c0; }
.pane svg.data .IN { stroke: #c0f0c0; }
.pane svg.data .IA { stroke: #c0f0c0; }
.pane svg.data .KS { stroke: #c0f0c0; }
.pane svg.data .KY { stroke: #c0f0c0; }
.pane svg.data .LA { stroke: #f04040; }
.pane svg.data .ME { stroke: #c0f0c0; }
.pane svg.data .MD { stroke: #c0f0c0; }
.pane svg.data .MA { stroke: #c0f0c0; }
.pane svg.data .MI { stroke: #c0f0c0; }
.pane svg.data .MN { stroke: #c0f0c0; }
.pane svg.data .MS { stroke: #c0f0c0; }
.pane svg.data .MO { stroke: #c0f0c0; }
.pane svg.data .MT { stroke: #c0f0c0; }
.pane svg.data .NE { stroke: #c0f0c0; }
.pane svg.data .NV { stroke: #c0f0c0; }
.pane svg.data .NH { stroke: #c0f0c0; }
.pane svg.data .NJ { stroke: #f04040; }
.pane svg.data .NM { stroke: #c0f0c0; }
.pane svg.data .NY { stroke: #f04040; }
.pane svg.data .NC { stroke: #c0f0c0; }
.pane svg.data .ND { stroke: #c0f0c0; }
.pane svg.data .OH { stroke: #c0f0c0; }
.pane svg.data .OK { stroke: #c0f0c0; }
.pane svg.data .OR { stroke: #c0f0c0; }
.pane svg.data .PA { stroke: #c0f0c0; }
.pane svg.data .RI { stroke: #c0f0c0; }
.pane svg.data .SC { stroke: #c0f0c0; }
.pane svg.data .SD { stroke: #c0f0c0; }
.pane svg.data .TN { stroke: #c0f0c0; }
.pane svg.data .TX { stroke: #408040; }
.pane svg.data .UT { stroke: #c0f0c0; }
.pane svg.data .VT { stroke: #c0f0c0; }
.pane svg.data .VI { stroke: #c0f0c0; }
.pane svg.data .WA { stroke: #f04040; }
.pane svg.data .WV { stroke: #c0f0c0; }
.pane svg.data .WI { stroke: #c0f0c0; }
.pane svg.data .WY { stroke: #c0f0c0; }

